* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mavenTitles;
    src: url(../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: kodaTitles;
    src: url(../fonts/Kodchasan/Kodchasan-SemiBold.ttf);
}

@font-face {
    font-family: kodaLabs;
    src: url(../fonts/Kodchasan/Kodchasan-ExtraLight.ttf);
}

#header {
    background-color: #976305;
    width: 100%;
    display: flex;
    height: 70px;
    color: white;
    justify-content: center;
    line-height: 70px;
}

#header h1 {
    font-family: mavenTitles;
    position: absolute;
}

#header button {
    background-color: #AC8641;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 0;
    font-family: kodaLabs;
    margin: 15px;
    transition: 0.5s;
}

#header button a {
    text-decoration: none;
    color: white;
}

#home-btn {
    display: flex;
    margin-right: 90%;
}

#header button:hover {
    transform: scale(1.1);
    background-color: #d88519;
}

#center-content {
    background-color: #AC8641;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    font-family: kodaLabs;
    padding-top: 1%;
}

#center-content h2 {
    font-family: kodaTitles;
    margin: 10px;
}

#center-content p {
    padding: 10px;
}

.images {
    width: 1000px;
    height: 400px;
    padding-top: 1%;
    max-width: 100%;
    border-radius: 15px;
}

#footer {
    width: 100%;
    height: 30px;
    background-color: #976305;
    color: white;
    font-family: kodaLabs;
}

/*mobile adaptation*/
@media (max-width:800px) {
    #header h1 {
        font-size: large;
        margin-left: 10%;
    }

    #home-btn{
        width:100px;
        height: 30px;
        margin-left: 60px;
        margin-top: 20px;
        align-items: center;
        display: flexbox;
        
    }
    #header button{
        max-width: 100%;
        max-height: 100%;
    }

    .images {
        width: 90%;
        height: 200px;
    }

    .images-description {
        font-family: kodaTitles;
    }

    #center-content {
        height: 700px;
        display: grid;
    }

    #center-content h2 {
        font-size: larger;
    }

    #center-content p {
        font-size: small;
    }

    #footer {
        text-align: center;
        height: 50px;
        font-size: x-small;
        line-height: 50px;
    }
}