*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: mavenTitles;
    src: url(../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: kodaTitles;
    src: url(../fonts/Kodchasan/Kodchasan-SemiBold.ttf);
}
@font-face {
    font-family: kodaLabs;
    src: url(../fonts/Kodchasan/Kodchasan-ExtraLight.ttf);
}
body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    background-color: #9E6016;
    display: flex;
    height: 100px;
    justify-content: space-between; 
}
#header-title{
    margin: 15px;
    color: white;
    font-family:mavenTitles;
    transition: 0.8s;
}
#header-title:hover{
    color:#f39111;
    transform: scale(1.1);
}
/*mobile menu*/
.dropbtn{
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;

}
.dropdown{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: none;
    margin-top: 8%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:#91714b;
    width:100%;
    z-index: 1;
    border-radius: 8px;
}
.dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px;

}
.dropdown-content a img{
 width: 100%;
 height: 100%;
}
.dropdown-content a:hover {background-color:#6A4C28;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#d88519;}
/*end of mobile menu*/

#mobile-header-title{
    color: white;
    font-family:mavenTitles;
    display: none;
    transition: 0.8s;
}
#mobile-header-title:hover{
    color:#f39111;
    transform: scale(1.1);
}
#main-btn-box{
    flex-direction: column;
    width: 150px;
    height: 80px;
    text-align: center;
    margin-top: 10px;
}
#main-btn-box button{
    width: 140px;
    height: 30px;
    background-color: #6A4C28;
    margin: 5px;
    line-height: 30px;
    border-radius: 5px;
    border: 0;
    transition:0.5s;
}
#main-btn-box button:hover{
    background-color:#d88519;
    transform:scale(1.1);
}
#main-btn-box img{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
}

#main-btn-box a{
    text-decoration: none;
    color: white;
    font-family: 'kodaLabs';
}
#media-btn-box{
    display: flex;
    width: 30px;
    height: 65px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    margin: 30px;
    border: 0;
}
#media-btn-box img{
    border-radius: 5px;
    transition: 0.8s;
}
#media-btn-box img:hover{
    transform:scale(1.2);
}
#center-content{
    background:rgba(0,0,0,0.7) url(img/background/lakelandscape.jpg);
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    background-size: cover; 
    background-position: center center;   
    background-blend-mode: darken;  
    position: relative; 
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
#center-content h1{
    font-family: mavenTitles; 
    transition: 1s;
    width: 40%;
    height: 35%;
    margin-top: 5%;
}
#center-content h1:hover{
    transform: scale(1.1);
}
#bottom-container{
    background-color: #6A4C28;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}
#bottom-content-box{
    display:flex;
    margin-top:20px;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 3%;
}
.place-sugesttions-captions{
    text-decoration: none;
    color: white;
    font-family: kodaLabs;
    transition: 0.5s;
}
.place-sugesttions-captions:hover{
    color:#b19673;
}
.images{
    border-radius: 5px;
    width:400px;
    height:200px;
    max-width: 100%;
    transition: 0.5s;
    transform: scale(0.9);
}
.images:hover{
    transform: scale(1);
}
#bottom-content-title{
    color: white;
    align-self: center;
    margin-top: 10px;
    font-family: kodaTitles;
}
#footer{
    background-color: #9E6016;
    height: 30px;
    color: white;
    font-family:maven ;
    display: flex; 
    line-height: 30px;
}
#footer p{
  margin-left:33px; 
  font-family: kodaLabs;
}

/*MOBILE ADAPTATION*/

@media (max-width:800px){
    #main-btn-box, #media-btn-box{
        display: none;
    }
    #header-title{
    display: none;
    }
    #mobile-header-title{
        display: flex;
        align-self: center;
        margin-left: 15%;
    }
    .dropdown{
        display: block;
    }
    #center-content{
        font-size:small;
    }
    #bottom-content-title{
        font-size: medium;
        margin: 5px;
    }
    #bottom-container{
        background-color: #6A4C28;
        height: auto;
        display:flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
    }
    #bottom-content-box{
        gap: 40%;
        flex-wrap: wrap;
}
.images:hover{
    transform: scale(0.9);
}
.place-sugesttions-captions{
    font-size:small;
    
}
#footer p{
    font-size: small;
}
}
