*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: mavenTitles;
    src: url(../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: kodaTitles;
    src: url(../fonts/Kodchasan/Kodchasan-SemiBold.ttf);
}
@font-face {
    font-family: kodaLabs;
    src: url(../fonts/Kodchasan/Kodchasan-ExtraLight.ttf);
}
body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    background-color: #9E6016;
    display: flex;
    height: 100px;
    justify-content: space-between; 
}
#header-title{
    margin: 15px;
    color: white;
    font-family:mavenTitles;
}
#main-btn-box{
    flex-direction: column;
    width: 150px;
    height: 80px;
    text-align: center;
    margin-top: 10px;
}
#main-btn-box button{
    width: 140px;
    height: 30px;
    background-color: #6A4C28;
    margin: 5px;
    line-height: 30px;
    border-radius: 5px;
    border: 0;
}
#main-btn-box img{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
}

#main-btn-box a{
    text-decoration: none;
    color: white;
    font-family: 'kodaLabs';
}
#media-btn-box{
    display: flex;
    width: 30px;
    height: 65px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    margin: 30px;
    border: 0;
}
#media-btn-box img{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
#center-content{
    background:rgba(0,0,0,0.7) url(img/background/lakelandscape.jpg);
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    background-size: cover; 
    background-position: center center;   
    background-blend-mode: darken;  
    position: relative; 
    width: 100%;
}
#center-content h1{
    display: block;
    position: absolute;
    padding-left: 40%;
    padding-top: 5%;
    font-family: mavenTitles; 
}
#bottom-container{
    background-color: #6A4C28;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}
#bottom-content-box{
    display:flex;
    margin-top:20px;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 3%;
}
.place-sugesttions-captions{
    text-decoration: none;
    color: white;
    font-family: kodaLabs;
}
.images{
    border-radius: 5px;
    width:400px;
    height:200px;
    max-width: 100%;
}
#bottom-content-title{
    color: white;
    align-self: center;
    margin-top: 10px;
    font-family: kodaTitles;
}
#footer{
    background-color: #9E6016;
    height: 30px;
    color: white;
    font-family:maven ;
    display: flex; 
    line-height: 30px;
}
#footer p{
  margin-left:33px; 
}